.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.main-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.password-box {
  width: 35rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  background-color: #1e2128;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;

}

.password-box p{
  padding: 0;
  border: 0;
  margin: auto;

}

.copy-button {
  height: 3.5rem;
  width: 3.5rem;
  border: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0;
  background-color: #1e2128;
  display: flex;
  align-items: center;
}
.copy-button:hover{
    background-color: rgb(0, 0, 0);
}

.copy-icon{
  width: 2rem;
  height: 2rem;
  color: white;
  margin: auto;
}

.second-div{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.slider-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 33.5rem; 
}
.slider{
  margin: 0 2rem;
}

.checkboxs{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.included{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.included label,input{
  margin: 0.5rem 2rem;
  cursor: pointer;
}
.genarate-button{
  height: 3rem;
  margin: 1rem 2rem;
  border: 0;
  background-color: #1e2128;
  color: white;
  font-size: calc(10px + 1.5vmin);
  border-radius: 4px;
}